
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_head")
    @RenderSection("HeadSection", required: false)
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")

        @RenderBody()

        @await Html.PartialAsync("_Footer")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    @RenderSection("modal", required: false)
    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 4 -->

    @RenderSection("JsSection", required: false)


    @await Html.PartialAsync("_scripts")

    @if (ViewBag.JavaScriptFunction != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.JavaScriptFunction)
        </script>
    }

<script type="text/javascript">
        $(document).ready(function () {
            @if (TempData.ContainsKey("Success")) {

                @:ShowMessage('İşlem Başarılı!', 'İşlem Durumu', true);

                 foreach (var key in TempData.Keys.ToList())
                {
                    TempData.Remove(key);
                }
            }
            else if (TempData.ContainsKey("Fail"))
            {
                @:ShowMessage('@TempData["Fail"].ToString()', 'İşlem Durumu', false);

                foreach (var key in TempData.Keys.ToList())
                {
                    TempData.Remove(key);
                }
            };

        });
</script>
</body>
</html>