@model BonaForMe.DomainCore.DTO.UserDto
@{
    ViewData["Title"] = "Users";
    ViewData["SingleName"] = "User";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewData["Title"]</h3>
                            <button class="btn-success" onclick="jsOpenSaveUser();" style="padding: 10px; float:right;">
                                <i class="fas fa-save"></i>
                                New @ViewData["SingleName"]
                            </button>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="tblUserList" class="table table-bordered table-striped table-responsive-lg" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Mail Address</th>
                                        <th>Phone</th>
                                        <th>Confirmation Status</th>
                                        <th class="noExport">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modalSave" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">New @ViewData["SingleName"]</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FirstName" class="control-label"><span style="color:red">* </span>First Name</label>
                            <input name="FirstName" id="FirstName" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="LastName" class="control-label"><span style="color:red">* </span>Last Name</label>
                            <input name="LastName" id="LastName" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="UserMail" class="control-label"><span style="color:red">* </span>Mail Address</label>
                            <input name="UserMail" id="UserMail" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="UserPhone" class="control-label"><span style="color:red">* </span>Phone</label>
                            <input name="UserPhone" id="UserPhone" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row" id="passwordPanel">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CompanyName" class="control-label"><span style="color:red">* </span>Company</label>
                            <input name="CompanyName" id="CompanyName" class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="UserPassword" class="control-label"><span style="color:red">* </span>Password</label>
                            <input name="UserPassword" id="UserPassword" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row" id="companyPanel" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="CompanyName" class="control-label"><span style="color:red">* </span>Company</label>
                            <input name="CompanyName" id="CompanyName" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Country" class="control-label"><span style="color:red">* </span>Country</label>
                            <input name="Country" id="Country" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="City" class="control-label"><span style="color:red">*</span>City</label>
                            <input name="City" id="City" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="District" class="control-label"><span style="color:red">* </span>District</label>
                            <input name="District" id="District" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Address" class="control-label"><span style="color:red">* </span>Address</label>
                            <input name="Address" id="Address" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="jsSaveUser()"> Save </button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Delete")
<input type="hidden" id="hdnUserId" value="" />
<div class="spinnerAnimation" style="display:none;"></div>
<link href="~/css/spinner.css" rel="stylesheet" />

@await Html.PartialAsync("_datatableScripts")
<script>
    document.addEventListener("DOMContentLoaded", function () {
        createTable();
    });

    function createTable() {
        var domString = getTableDom();
        var buttons = getTableButtons("Users");
        $('#tblUserList').DataTable
        ({
            "paging": true,
            "ordering": true,
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "order": [[1, "desc"]],
            dom: domString,
            buttons: buttons,
            "ajax": {
                "url": "/User/LoadUserData/",
                "type": 'POST',
                "dataType": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                getCell("Id"),
                getCell("FullName"),
                getCell("UserMail"),
                getCell("UserPhone"),
                {
                    "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                    "render": function (data, type, full, meta) {
                        var checkboxId = "isApproved_" + full.id;
                        var isChecked = full.isApproved == true ? "checked" : "";
                        return "<input type='checkbox' id='"+checkboxId+"' style='margin-left:5px; transform: scale(2.0)' onchange=approveUser('" + full.id + "'); " + isChecked + ">"
                    }
                },
                {
                    "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                    "render": function (data, type, full, meta) {
                        var buttonGroup = "<div class='btn-group role='group'>";
                        buttonGroup += "<a href='#' class='btn btn-warning btn-sm' style='color:white; margin:0px 5px;' onclick=jsOpenSaveUser('" + full.id + "');><i class='fas fa-edit'></i> Edit </a>"
                        buttonGroup += "<a href='#' class='btn btn-danger btn-sm' style='color:white; margin:0px 5px;' onclick=DeleteData('" + full.id + "');> <i class='fas fa-trash'></i> Delete </a>";
                        buttonGroup += "</div>"
                        return buttonGroup;
                    }
                },
            ],
            "bDestroy": true,
        });
    }

    function jsOpenSaveUser(id) {
        $("#hdnUserId").val("");
        $("#FirstName").val("");
        $("#LastName").val("");
        $("#UserMail").val("");
        $("#UserPhone").val("");
        $("#UserPassword").val("");
        $("#Country").val("");
        $("#City").val("");
        $("#District").val("");
        $("#Address").val("");
        $("#CompanyName").val("");
        $("#passwordPanel").show();
        $("#companyPanel").hide();

        if (id != null && id !== "") {
            var data = { id: id }
            var result = ajaxRequest('POST', '@Url.Action("GetUserById", "User")', data)
            $("#hdnUserId").val(result.id);
            $("#FirstName").val(result.firstName);
            $("#LastName").val(result.lastName);
            $("#UserMail").val(result.userMail);
            $("#UserPhone").val(result.userPhone);
            $("#UserPassword").val(result.userPassword);
            $("#Country").val(result.country);
            $("#City").val(result.city);
            $("#District").val(result.district);
            $("#Address").val(result.address);
            $("#CompanyName").val(result.companyName);
            $("#passwordPanel").hide();
            $("#companyPanel").show();
        }
        $('#modalSave').modal('show');
    }

    function jsSaveUser() {
        var data = {
            Id: $("#hdnUserId").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            UserMail: $("#UserMail").val(),
            UserPhone: $("#UserPhone").val(),
            UserPassword: $("#UserPassword").val(),
            Country: $("#Country").val(),
            City: $("#City").val(),
            District: $("#District").val(),
            Address: $("#Address").val(),
            CompanyName: $("#CompanyName").val(),
        };

        var result = ajaxRequest('POST', '@Url.Action("Save", "User")', data)
        if (result != null) {
            if (result.success) {
                $('#modalSave').modal('hide');
                thisTable = $('#tblUserList').DataTable();
                thisTable.draw();
                toastr.success('Transaction successful.');
            } else {
                toastr.error(result.message);
            }
        } else {
            $('#modalSave').modal('hide');
            toastr.error('Error in saving!');
        }
    }

    function DeleteData(id) {
        $('#delete').data('argument', id);
        $('#delete').modal('show');
    }

    function Delete() {
        var id = $('#delete').data('argument');
        var data = { id: id }
        var result = ajaxRequest('POST', '@Url.Action("Delete", ViewData["SingleName"])', data);
        if (result.success) {
            $('#delete').modal('hide');
            thisTable = $('#tblUserList').DataTable();
            thisTable.draw();
            toastr.success('The deletion was successful.');
        } else {
            $('#delete').modal('hide');
            toastr.error('Error in deletion!');
        }
    }

    function approveUser(id) {
        var checkboxId = "#isApproved_" + id;
        var isApproved = $(checkboxId).is(':checked');
        var data = { userId: id, isApproved: isApproved }
        var result = ajaxRequest('POST', '@Url.Action("ChangeApproveStatus", "Account")', data);

        if (result != null) {
            if (result.success)
                toastr.success('Transaction successful.');
            else
                toastr.error(result.message);
        }
        else
            toastr.error('Error in approving!');
    }
</script>
