@model BonaForMe.DomainCore.DTO.ProductDto
@{
    ViewData["Title"] = "Products";
    ViewData["SingleName"] = "Product";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewData["Title"]</h3>
                            <button class="btn-success" onclick="jsOpenSaveProduct();" style="padding: 10px; float:right;">
                                <i class="fas fa-save"></i>
                                New @ViewData["SingleName"]
                            </button>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="tblProductList" class="table table-bordered table-striped table-responsive-lg" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                        <th>Product Unit</th>
                                        <th class="noExport">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modalSave" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">New @ViewData["SingleName"]</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label"><span style="color:red">* </span>Name</label>
                            <input name="Name" id="Name" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description" class="control-label"><span style="color:red">* </span>Description</label>
                            <input name="Description" id="Description" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="FormFile" class="control-label"><span style="color:red">* </span>Image</label>
                            <input name="FormFile" id="FormFile" class="form-control" type="file" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ProductUnitId" class="control-label"><span style="color:red">* </span>Product Unit</label>
                            <select id="ProductUnitId" class="custom-select" name="ProductUnitId" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Price" class="control-label"><span style="color:red">* </span>Price</label>
                            <input name="Price" id="Price" class="form-control" required type="number" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="TaxRate" class="control-label"><span style="color:red">* </span>Tax Rate</label>
                            <input name="TaxRate" id="TaxRate" class="form-control" required type="number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CurrencyUnitId" class="control-label"><span style="color:red">* </span>Currency Unit</label>
                            <select id="CurrencyUnitId" class="custom-select" name="CurrencyUnitId" required>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Stock" class="control-label"><span style="color:red">* </span>Stock</label>
                            <input name="Stock" id="Stock" class="form-control" required type="number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="CategoryId" class="control-label"><span style="color:red">* </span>Category</label>
                            <select id="CategoryId" class="custom-select" name="CategoryId" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="jsSaveProduct()"> Save </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalStockUpdate" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">Update Stock</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="StockToBeUpdated" class="control-label"><span style="color:red">* </span>Stock</label>
                            <input name="StockToBeUpdated" id="StockToBeUpdated" class="form-control" required type="number" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="jsUpdateStock()"> Update </button>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("_Delete")
<input type="hidden" id="hdnProductId" value="" />
<div class="spinnerAnimation" style="display:none;"></div>
<link href="~/css/spinner.css" rel="stylesheet" />

@await Html.PartialAsync("_datatableScripts")
<script>
    document.addEventListener("DOMContentLoaded", function () {
        createTable();
        fillProductUnitSelect();
        fillCurrencyUnitSelect();
        fillCategorySelect();
    });

    function createTable() {
        var domString = getTableDom();
        var buttons = getTableButtons("Products");
        $('#tblProductList').DataTable
        ({
            "paging": true,
            "ordering": true,
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "order": [[1, "desc"]],
            dom: domString,
            buttons: buttons,
            "ajax": {
                "url": "/Product/LoadProductData/",
                "type": 'POST',
                "dataType": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                getCell("Id"),
                getCell("Name"),
                getCell("CategoryName"),
                getCell("Stock"),
                getCell("ProductUnitName"),
                {
                    "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                    "render": function (row, type, full, meta) {
                        var buttonGroup = "<div class='btn-group role='group'>";
                        buttonGroup += "<a href='#' class='btn btn-info btn-sm' style='color:white; margin:0px 5px;' onclick=jsOpenUpdateStock('" + full.id + "');><i class='fas fa-sort-numeric-up'></i> Stock </a>"
                        buttonGroup += "<a href='#' class='btn btn-warning btn-sm' style='color:white; margin:0px 5px;' onclick=jsOpenSaveProduct('" + full.id + "');><i class='fas fa-edit'></i> Edit </a>"
                        buttonGroup += "<a href='#' class='btn btn-danger btn-sm' style='color:white; margin:0px 5px;' onclick=DeleteData('" + full.id + "');> <i class='fas fa-trash'></i> Delete </a>";
                        buttonGroup += "</div>"
                        return buttonGroup;
                    }
                },
            ],
            "bDestroy": true,
        });
    }

    function jsOpenSaveProduct(id) {
        $("#hdnProductId").val("");
        $("#Name").val("");
        $("#Description").val("");
        $("#FormFile").val("");
        $("#ProductUnitId").val("");
        $("#Price").val("");
        $("#TaxRate").val("");
        $("#CurrencyUnitId").val("");
        $("#Stock").val("");
        $("#CategoryId").val("");

        if (id != null && id !== "") {
            var data = { id: id }
            var result = ajaxRequest('POST', '@Url.Action("GetProductById", "Product")', data)
            $("#hdnProductId").val(result.id);
            $("#Name").val(result.name);
            $("#Description").val(result.description);
            //$("#ImagePath").val(result.imagePath);
            $("#ProductUnitId").val(result.productUnitId);
            $("#Price").val(result.price);
            $("#TaxRate").val(result.taxRate);
            $("#CurrencyUnitId").val(result.currencyUnitId);
            $("#Stock").val(result.stock);
            $("#CategoryId").val(result.categoryId);

        }
        $('#modalSave').modal('show');
    }

    function jsOpenUpdateStock(id, stock) {
        $("#hdnProductId").val("");
        $("#StockToBeUpdated").val("");

        if (id != null && id !== "") {
            var data = { id: id }
            var result = ajaxRequest('POST', '@Url.Action("GetProductById", "Product")', data)
            $("#hdnProductId").val(result.id);
            $("#StockToBeUpdated").val(result.stock);
        }
        $('#modalStockUpdate').modal('show');
    }

    function jsUpdateStock() {
        var data = {
            Id: $("#hdnProductId").val(),
            newStock: $("#StockToBeUpdated").val()
        };
        var result = ajaxRequest('POST', '@Url.Action("UpdateProductStock", "Product")', data);
        if (result != null) {
            if (result.success) {
                $('#modalStockUpdate').modal('hide');
                thisTable = $('#tblProductList').DataTable();
                thisTable.draw();
                toastr.success('Transaction successful.');
            } else {
                toastr.error(result.message);
            }
        } else {
            $('#modalStockUpdate').modal('hide');
            toastr.error('Error in updating!');
        }
    }

    function jsSaveProduct() {
        console.log($("#Price").val());
        var price = $("#Price").val().toString().replace('.', ',');
        console.log(price);
        var formData = new FormData();
        formData.append('Id', $("#hdnProductId").val());
        formData.append('Name', $("#Name").val());
        formData.append('Description', $("#Description").val());
        formData.append('ProductUnitId', $("#ProductUnitId").val());
        formData.append('Price', price);
        formData.append('TaxRate', $("#TaxRate").val());
        formData.append('CurrencyUnitId', $("#CurrencyUnitId").val());
        formData.append('Stock', $("#Stock").val());
        formData.append('CategoryId', $("#CategoryId").val());
        formData.append('FormFile', $('#FormFile')[0].files[0]);

        $.ajax({
            type: "POST",
            url: '@Url.Action("Save", "Product")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (result)
            {
                if (result != null) {
                    if (result.success) {
                        $('#modalSave').modal('hide');
                        thisTable = $('#tblProductList').DataTable();
                        thisTable.draw();
                        toastr.success('Transaction successful.');
                    } else {
                        toastr.error(result.message);
                    }
                } else {
                    $('#modalSave').modal('hide');
                    toastr.error('Error in saving!');
                }
            },
            error: function () {
                alert('Error!');
            }
        });
    }

    function DeleteData(id) {
        $('#delete').data('argument', id);
        $('#delete').modal('show');
    }

    function Delete() {
        var id = $('#delete').data('argument');
        var data = { id: id }
        var result = ajaxRequest('POST', '@Url.Action("Delete", ViewData["SingleName"])', data);
        if (result.success) {
            $('#delete').modal('hide');
            thisTable = $('#tblProductList').DataTable();
            thisTable.draw();
            toastr.success('The deletion was successful.');
        } else {
            $('#delete').modal('hide');
            toastr.error('Error in deletion!');
        }
    }


    function fillProductUnitSelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllProductUnit", "ProductUnit")')
        fillOptions("ProductUnitId", result, "name");
    }

    function fillCurrencyUnitSelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllCurrencyUnit", "CurrencyUnit")')
        fillOptions("CurrencyUnitId", result, "name");
    }

    function fillCategorySelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllCategory", "Category")')
        fillOptions("CategoryId", result, "name");
    }
</script>
