@model BonaForMe.DomainCore.DTO.OrderDto
@{
    ViewData["Title"] = "Orders";
    ViewData["SingleName"] = "Order";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="card-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="col">
                                    <select id="OrderStatues" class="custom-select" name="OrderStatues" onchange="filterFunc(this)">
                                    </select>
                                </div>
                                <div class="col">
                                    <button class="btn-success" onclick="jsOpenSaveOrder();" style="padding: 10px; float:right;">
                                        <i class="fas fa-save"></i>
                                        New @ViewData["SingleName"]
                                    </button>
@*                                    <button class="btn-primary" onclick="jsOpenMinPrice();" style="padding: 10px; margin:0 10px; float:right;">
                                        <i class="fas fa-save"></i>
                                        Min Price
                                    </button>*@
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="tblOrderList" class="table table-bordered table-striped table-responsive-lg" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Order Code</th>
                                        <th>User</th>
                                        <th>Pay Type</th>
                                        <th>Status</th>
                                        <th>Order Date</th>
                                        <th class="noExport">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modalDetail" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">@ViewData["SingleName"] Detail </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FormFile" class="control-label">Order Code : </label>
                                    <label id="detailOrderCode" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CategoryId" class="control-label">Orderer : </label>
                                    <label id="detailOrderer" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CategoryId" class="control-label">Pay Type : </label>
                                    <label id="orderPayType" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Phone" class="control-label">Phone : </label>
                                    <label id="detailCustomerPhone" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Address" class="control-label">Address : </label>
                                    <label id="detailAddress" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="OrderHour" class="control-label">Delivery Hour : </label>
                                    <label id="detailHour" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                        <table class="table" id="productTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Product Unit</th>
                                    <th scope="col">Count</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Tax Rate</th>
                                    <th scope="col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title">Order Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container" id="orderDetailPanel" style="display:none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CourierId" class="control-label">Courier : </label>
                                        <label id="detailCourierName" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DateCreated" class="control-label">Date : </label>
                                        <label id="detailDateCreated" class="control-label"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="PayType" class="control-label">Pay Type : </label>
                                        <label id="detailPayType" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Price" class="control-label">Price : </label>
                                        <label id="detailPrice" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Signature" class="control-label">Signature</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="DeliveredName" class="control-label">Delivered Name : </label>
                                        <label id="detailDeliveredName" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Price" class="control-label">Phone : </label>
                                        <label id="detailPhone" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <img id="Signature" width="200" height="75" src="" alt="Signature" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button id="showInvoiceButton" onclick="jsShowInvoice();" class="btn btn-primary" data-dismiss="modal"> Show Invoice </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSave" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">New @ViewData["SingleName"]</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OrderCode" class="control-label"><span style="color:red">* </span>Order Code</label>
                            <input name="OrderCode" id="OrderCode" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="PayType" class="control-label"><span style="color:red">* </span>Pay Type</label>
                            <input name="PayType" id="PayType" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="UserId" class="control-label"><span style="color:red">* </span>User</label>
                            <select id="UserId" class="custom-select" name="UserId" required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OrderStatusId" class="control-label"><span style="color:red">* </span>Status</label>
                            <select id="OrderStatusId" class="custom-select" name="OrderStatusId" required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OrderHourId" class="control-label"><span style="color:red">* </span>Delivery Time</label>
                            <select id="OrderHourId" class="custom-select" name="OrderHourId" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="jsSaveOrder()"> Save </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMinPrice" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">Minimum Order Value</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="MinimumOrderValue" class="control-label"><span style="color:red">* </span>Minimum Order Value</label>
                            <input name="MinimumOrderValue" id="MinimumOrderValue" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="jsSaveMinPrice()"> Save </button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Delete")
<input type="hidden" id="hdnOrderId" value="" />
<div class="spinnerAnimation" style="display:none;"></div>
<link href="~/css/spinner.css" rel="stylesheet" />

@await Html.PartialAsync("_datatableScripts")
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fillUserSelect();
        fillOrderStatusSelect();
        fillOrderHourSelect();
        createTable();
    });

    function createTable() {
        var domString = getTableDom();
        var buttons = getTableButtons("Orders");
        $('#tblOrderList').DataTable
            ({
                "paging": true,
                "ordering": true,
                "pageLength": 25,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "order": [],
                dom: domString,
                buttons: buttons,
                "ajax": {
                    "url": "/Order/LoadOrderData/",
                    "type": 'POST',
                    "dataType": "json",
                    "data": { type: 1, orderStatusId: $('#OrderStatues').val() }
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    getCell("Id"),
                    getCell("OrderCode"),
                    getCell("UserName"),
                    getCell("PayType"),
                    getCell("OrderStatusName"),
                    {
                        "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                        "render": function (data, type, full, meta) {
                            var dt = full.dateCreated;
                            var dateString = "";
                            var timestamp = Date.parse(dt);

                            if (isNaN(timestamp) == true) {
                                dateString = "";
                            }

                            dt = new Date(timestamp);
                            dateString = dt.toLocaleString('tr-TR');
                            return dateString;
                        }
                    },
                    {
                        "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                        "render": function (data, type, full, meta) {
                            var buttonGroup = "<div class='btn-group role='group'>";
                            buttonGroup += "<a href='#' class='btn btn-warning btn-sm' style='color:white; margin:0px 5px;' onclick=jsOpenSaveOrder('" + full.id + "');><i class='fas fa-edit'></i> Edit </a>"
                            buttonGroup += "<a href='#' class='btn btn-danger btn-sm' style='color:white; margin:0px 5px;' onclick=DeleteData('" + full.id + "');> <i class='fas fa-trash'></i> Delete </a>";
                            buttonGroup += "<a href='#' class='btn btn-primary btn-sm' style='color:white; margin:0px 5px;' onclick=DetailPage('" + full.id + "');> <i class='fas fa-info'></i> Detail </a>";
                            buttonGroup += "</div>"
                            return buttonGroup;
                        }
                    },
                ],
                "bDestroy": true,
            });
    }

    function DetailPage(id) {
        $("#hdnOrderId").val("");
        $("#detailOrderCode").text("");
        $("#detailOrderer").text("");
        $("#orderPayType").text("");
        $("#detailPhone").text("");
        $("#detailAddress").text("");
        $("#detailHour").text("");

        if (id != null && id !== "") {
            var data = { id: id }
            var result = ajaxRequest('POST', '@Url.Action("GetOrderById", "Order")', data)
            $("#hdnOrderId").val(result.id);
            $("#detailOrderCode").text(result.orderCode);
            $("#detailOrderer").text(result.userName);
            $("#orderPayType").text(result.payType);
            $("#detailCustomerPhone").text(result.user.userPhone);
            $("#detailAddress").text(result.user.address);
            $("#detailHour").text(result.orderHour.text);

            if (result.orderDetail != null) {

                dt = new Date(Date.parse(result.orderDetail.dateCreated));
                dateString = dt.toLocaleString('tr-TR');
                $("#orderDetailPanel").show();
                $("#detailCourierName").text(result.orderDetail.courier.fullName);
                $("#detailDateCreated").text(dt.toLocaleString('en-US'));
                $("#detailPayType").text(result.orderDetail.payType);
                $("#detailPrice").text(result.orderDetail.price);
                $("#detailDeliveredName").text(result.orderDetail.deliveredName);
                $("#detailPhone").text(result.orderDetail.phone);

                $("#Signature").attr("src", "data:image/png;base64," + result.orderDetail.signature);
            }

            if (result.orderStatusId != 7) {
                $("#showInvoiceButton").hide();
            }
            var tableRef = document.getElementById('productTable').getElementsByTagName('tbody')[0];

            var tb = document.getElementById('productTable');
            while (tb.rows.length > 1) {
                tb.deleteRow(1);
            }

            var orderTotalPrice = parseFloat(0);

            result.productList.forEach((item, index) => {
                debugger;
                var totalPrice = item.count * item.price;
                var totalPriceWithTax = item.count * item.price * (1 + parseFloat(item.product.taxRate) / 100);
                orderTotalPrice += totalPriceWithTax;
                var newRow = tableRef.insertRow(tableRef.rows.length);
                var cell1 = newRow.insertCell(0).appendChild(document.createTextNode(index + 1));
                var cell2 = newRow.insertCell(1).appendChild(document.createTextNode(item.product.name));
                var cell3 = newRow.insertCell(2).appendChild(document.createTextNode(item.product.productUnit.name));
                var cell4 = newRow.insertCell(3).appendChild(document.createTextNode(item.count));
                var cell5 = newRow.insertCell(4).appendChild(document.createTextNode(item.price));
                var cell5 = newRow.insertCell(5).appendChild(document.createTextNode(item.product.taxRate));
                var cell6 = newRow.insertCell(6).appendChild(document.createTextNode(parseFloat(totalPriceWithTax).toFixed(2)));
            })

            var totalRow = tableRef.insertRow(tableRef.rows.length);
            var cell1 = totalRow.insertCell(0).appendChild(document.createTextNode(" "));
            var cell2 = totalRow.insertCell(1).appendChild(document.createTextNode(" "));
            var cell3 = totalRow.insertCell(2).appendChild(document.createTextNode(" "));
            var cell4 = totalRow.insertCell(3).appendChild(document.createTextNode(" "));
            var cell5 = totalRow.insertCell(4).appendChild(document.createTextNode(" "));
            var cell5 = totalRow.insertCell(5).appendChild(document.createTextNode("Total Price : "));
            var cell6 = totalRow.insertCell(6).appendChild(document.createTextNode(parseFloat(orderTotalPrice).toFixed(2)));

        }
        $('#modalDetail').modal('show');
    }

    function jsOpenSaveOrder(id) {
        $("#hdnOrderId").val("");
        $("#OrderCode").val("");
        $("#PayType").val("");
        $("#UserId").val("");
        $("#OrderStatusId").val("");
        $("#OrderHourId").val("");

        if (id != null && id !== "") {
            var data = { id: id }
            var result = ajaxRequest('POST', '@Url.Action("GetOrderById", "Order")', data)
            $("#hdnOrderId").val(result.id);
            $("#OrderCode").val(result.orderCode);
            $("#PayType").val(result.payType);
            $("#UserId").val(result.userId);
            $("#OrderStatusId").val(result.orderStatusId);
            $("#OrderHourId").val(result.orderHourId);
        }
        $('#modalSave').modal('show');
    }

    function jsOpenMinPrice(id) {
        $("#MinimumOrderValue").val("");
        var result = ajaxRequest('POST', '@Url.Action("GetApplicationSetting", "ApplicationSetting")');
        $("#MinimumOrderValue").val(result.minimumOrderValue);
        $('#modalMinPrice').modal('show');
    }

    function jsSaveMinPrice() {
        var data = { MinimumOrderValue: $("#MinimumOrderValue").val() }
        var result = ajaxRequest('POST', '@Url.Action("SaveMinimumOrderValue", "ApplicationSetting")', data)
        if (result != null) {
            if (result.success) {
                $('#modalMinPrice').modal('hide');
                toastr.success('Transaction successful.');
            } else {
                toastr.error(result.message);
            }
        } else {
            $('#modalMinPrice').modal('hide');
            toastr.error('Error in saving!');
        }
    }

    function jsSaveOrder() {
        var data = {
            Id: $("#hdnOrderId").val(),
            OrderCode: $("#OrderCode").val(),
            PayType: $("#PayType").val(),
            UserId: $("#UserId").val(),
            OrderStatusId: $("#OrderStatusId").val(),
            OrderHourId: $("#OrderHourId").val(),
        };

        var result = ajaxRequest('POST', '@Url.Action("Save", "Order")', data)
        if (result != null) {
            if (result.success) {
                $('#modalSave').modal('hide');
                thisTable = $('#tblOrderList').DataTable();
                thisTable.draw();
                toastr.success('Transaction successful.');
            } else {
                toastr.error(result.message);
            }
        } else {
            $('#modalSave').modal('hide');
            toastr.error('Error in saving!');
        }
    }

    function DeleteData(id) {
        $('#delete').data('argument', id);
        $('#delete').modal('show');
    }

    function Delete() {
        var id = $('#delete').data('argument');
        var data = { id: id }
        var result = ajaxRequest('POST', '@Url.Action("Delete", ViewData["SingleName"])', data);
        if (result.success) {
            $('#delete').modal('hide');
            thisTable = $('#tblOrderList').DataTable();
            thisTable.draw();
            toastr.success('The deletion was successful.');
        } else {
            $('#delete').modal('hide');
            toastr.error('Error in deletion!');
        }
    }

    function fillUserSelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllUser", "User")')
        fillOptions("UserId", result, "fullName");
    }

    function fillOrderStatusSelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllOrderStatus", "OrderStatus")')
        fillOptions("OrderStatues", result, "name");
        $('#OrderStatues').val('1');
        $('#OrderStatues').trigger('change');
        fillOptions("OrderStatusId", result, "name");
    }

    function fillOrderHourSelect() {
        var result = ajaxRequest('POST', '@Url.Action("GetAllOrderHour", "OrderHour")')
        fillOptions("OrderHourId", result, "text");
    }

    function filterFunc() {
        createTable();
    }

    function jsShowInvoice() {
        var orderCode = $("#detailOrderCode").text();
        var address = "https://www.boname.ie/Invoice/" + orderCode + ".pdf";
        window.open(address, '_blank');
    }
</script>
